<%- include ../partials/head-start %>
    <link rel="stylesheet" href="/assets/css/index.css">
    </head>
    <body>
        <%- include ../partials/loader %>
        <%- include ../partials/hero %>
        <%- include ../partials/nav %>

        <main>
            <section class="section-1">
                <h1 class="section-header">Welcome in night<span class="theme-coloured">club</span></h1>

                <div class="constrictor images">
                    <div class="image-container">
                        <img src="/assets/img/content/thumb1.jpg">
                        <div class="image-cover">
                            <i class="fas fa-male"></i>
                            <h3>Night Club</h3>
                            <p>
                                Lorem ipsum...
                            </p>
                        </div>
                    </div>

                    <div class="image-container">
                        <img src="/assets/img/content/reastaurant_1.jpg">
                        <div class="image-cover">
                            <i class="fas fa-utensils"></i>
                            <h3>Restaurant</h3>
                            <p>
                                Lorem ipsum...
                            </p>
                        </div>
                    </div>

                    <div class="image-container">
                        <img src="/assets/img/content/thumb2.jpg">
                        <div class="image-cover">
                            <i class="fas fa-glass-cheers"></i>
                            <h3>Bar</h3>
                            <p>
                                Lorem ipsum...
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-2">
                <div class="lifted">
                    <h1 class="section-header">Events of the month</h1>

                    <div class="constrictor">
                        <div class="slider-wrapper events-slider-wrapper">
                            <div class="slider events-slider">
                                <!-- Events slider items go here -->
                            </div>
        
                            <div class="slider-controls events-slider-controls">
                                <!-- Events slider controls go here -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-3">
                <h1 class="section-header">Night club gallery</h1>

                <div class="gallery-container">
                    
                </div>

                <div class="lightbox">
                    <div class="lightbox-left"></div>

                    <section class="lightbox-post">
                        <section class="upper-section">
                            <img class="lightbox-image" src="http://localhost:4000/file-bucket/gallery1_big.jpg">
                        </section>

                        <section class="lower-section">
                            <h2 class="lightbox-title">Night Club Party</h2>
                            <p class="lightbox-text">Lorem ipsum...</p>
                            <button>Read More</button>
                        </section>
                    </section>

                    <div class="lightbox-right"></div>
                </div>
            </section>

            <section class="section-6">
                <div class="lifted">
                    <div class="constrictor">
                        <div class="slider-wrapper testimonies-slider-wrapper">
                            <div class="slider testimonies-slider">
                                <!-- Testimonies slider items go here -->
                            </div>
        
                            <div class="slider-controls testimonies-slider-controls">
                                <!-- Testimonies slider controls go here -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-8">
                <div class="constrictor">
                    <h3>Want the latest club news</h3>
                    <p>Subscribe to our newsletter and never miss a <a href="/">Event</a></p>

                    <form id="newsletter-form">
                        <input type="text" name="email" id="newsletter-input-email" placeholder="Enter Your Email">
                        <button id="newsletter-input-subscribe">Subscribe</button>
                    </form>
                </div>
            </section>
        </main>

        <%- include ../partials/footer %>

        <script src="/assets/js/index.js"></script>
    </body>
</html>