<%- include ../partials/head-start %>
    <link rel="stylesheet" href="/assets/css/index.css">
    </head>
    <body>
        <%- include ../partials/loader %>
        <%- include ../partials/hero %>
        <%- include ../partials/nav %>

        <main>
            <section class="section-1">
                <h1 class="section-header">Welcome in night<span class="theme-coloured">club</span></h1>

                <div class="constrictor images">
                    <div class="image-container">
                        <img src="/assets/img/content/thumb1.jpg">
                        <div class="image-cover">
                            <i class="fas fa-male"></i>
                            <h3>Night Club</h3>
                            <p>
                                Lorem ipsum...
                            </p>
                        </div>
                    </div>

                    <div class="image-container">
                        <img src="/assets/img/content/reastaurant_1.jpg">
                        <div class="image-cover">
                            <i class="fas fa-utensils"></i>
                            <h3>Restaurant</h3>
                            <p>
                                Lorem ipsum...
                            </p>
                        </div>
                    </div>

                    <div class="image-container">
                        <img src="/assets/img/content/thumb2.jpg">
                        <div class="image-cover">
                            <i class="fas fa-glass-cheers"></i>
                            <h3>Bar</h3>
                            <p>
                                Lorem ipsum...
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-2">
                <div class="lifted">
                    <h1 class="section-header">Events of the month</h1>

                    <div class="constrictor">
                        <div class="events-slider-wrapper">
                            <div class="events-slider">
                                <!-- Events slider items start here -->
                                <div class="events-slider-item">
                                    <article class="event-post">
                                        <section class="event-post-upper">
                                            <img src="/assets/img/content/reastaurant_1.jpg">
                                            <div class="event-post-cover">
                                                <a href="/book" class="event-post-book">Book Now</a>
                                            </div>
                                            <div class="event-post-info">
                                                <h2 class="event-post-title">Night Club</h2>
                                                <p>Lorem ipsum...</p>
                                            </div>
                                        </section>
                                        <section class="event-post-lower">
                                            <p class="event-post-date">25 Dec</p>
                                            <p class="event-post-time">10:30 PM</p>
                                            <p class="event-post-location">City Plaza, Newyork</p>
                                        </section>
                                    </article>
                                </div>

                                <div class="events-slider-item">
                                    <article class="event-post">
                                        <section class="event-post-upper">
                                            <img src="/assets/img/content/thumb1.jpg">
                                            <div class="event-post-cover">
                                                <a href="/book" class="event-post-book">Book Now</a>
                                            </div>
                                            <div class="event-post-info">
                                                <h2 class="event-post-title">Night Club</h2>
                                                <p>Lorem ipsum...</p>
                                            </div>
                                        </section>
                                        <section class="event-post-lower">
                                            <p class="event-post-date">25 Dec</p>
                                            <p class="event-post-time">10:30 PM</p>
                                            <p class="event-post-location">City Plaza, Newyork</p>
                                        </section>
                                    </article>
                                </div>
        
                                <div class="events-slider-item">
                                    <article class="event-post">
                                        <section class="event-post-upper">
                                            <img src="/assets/img/content/reastaurant_1.jpg">
                                            <div class="event-post-cover">
                                                <a href="/book" class="event-post-book">Book Now</a>
                                            </div>
                                            <div class="event-post-info">
                                                <h2 class="event-post-title">Night Club</h2>
                                                <p>Lorem ipsum...</p>
                                            </div>
                                        </section>
                                        <section class="event-post-lower">
                                            <p class="event-post-date">25 Dec</p>
                                            <p class="event-post-time">10:30 PM</p>
                                            <p class="event-post-location">City Plaza, Newyork</p>
                                        </section>
                                    </article>
                                </div>

                                <div class="events-slider-item">
                                    <article class="event-post">
                                        <section class="event-post-upper">
                                            <img src="/assets/img/content/reastaurant_1.jpg">
                                            <div class="event-post-cover">
                                                <a href="/book" class="event-post-book">Book Now</a>
                                            </div>
                                            <div class="event-post-info">
                                                <h2 class="event-post-title">Night Club</h2>
                                                <p>Lorem ipsum...</p>
                                            </div>
                                        </section>
                                        <section class="event-post-lower">
                                            <p class="event-post-date">25 Dec</p>
                                            <p class="event-post-time">10:30 PM</p>
                                            <p class="event-post-location">City Plaza, Newyork</p>
                                        </section>
                                    </article>
                                </div>

                                <div class="events-slider-item">
                                    <article class="event-post">
                                        <section class="event-post-upper">
                                            <img src="/assets/img/content/reastaurant_1.jpg">
                                            <div class="event-post-cover">
                                                <a href="/book" class="event-post-book">Book Now</a>
                                            </div>
                                            <div class="event-post-info">
                                                <h2 class="event-post-title">Night Club</h2>
                                                <p>Lorem ipsum...</p>
                                            </div>
                                        </section>
                                        <section class="event-post-lower">
                                            <p class="event-post-date">25 Dec</p>
                                            <p class="event-post-time">10:30 PM</p>
                                            <p class="event-post-location">City Plaza, Newyork</p>
                                        </section>
                                    </article>
                                </div>

                                <div class="events-slider-item">
                                    <article class="event-post">
                                        <section class="event-post-upper">
                                            <img src="/assets/img/content/reastaurant_1.jpg">
                                            <div class="event-post-cover">
                                                <a href="/book" class="event-post-book">Book Now</a>
                                            </div>
                                            <div class="event-post-info">
                                                <h2 class="event-post-title">Night Club</h2>
                                                <p>Lorem ipsum...</p>
                                            </div>
                                        </section>
                                        <section class="event-post-lower">
                                            <p class="event-post-date">25 Dec</p>
                                            <p class="event-post-time">10:30 PM</p>
                                            <p class="event-post-location">City Plaza, Newyork</p>
                                        </section>
                                    </article>
                                </div>
                                <!-- Events slider items stop here -->
                            </div>
        
                            <div class="events-slider-controls">
                                <div class="events-slider-button active" data-val="0"></div>
                                <div class="events-slider-button" data-val="1"></div>
                                <div class="events-slider-button" data-val="2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-3">
                <h1 class="section-header">Night club gallery</h1>
            </section>

            <section class="section-6">
                
            </section>

            <section class="section-8">
                <div class="constrictor">
                    <h3>Want the latest club news</h3>
                    <p>Subscribe to our newsletter and never miss a <a href="/">Event</a></p>

                    <form id="newsletter-form">
                        <input type="text" name="email" id="newsletter-input-email" placeholder="Enter Your Email">
                        <button id="newsletter-input-subscribe">Subscribe</button>
                    </form>
                </div>
            </section>
        </main>

        <%- include ../partials/footer %>

        <script src="/assets/js/index.js"></script>
    </body>
</html>

<!-- TODO: Add loading screen for API data. -->